.row{
  clear: both;
}
/* ------------------------------------------------------------------- */
/* Tamaño muy pequeño */
@media (min-width: 480px) and (max-width: 599px) {
  /* Definicion largo columnas */
  .row>.col-xs-0 { display: none; float: left; }
  .row>.col-xs-1 { width: 5%;     float: left; }
  .row>.col-xs-2 { width: 10%;    float: left; }
  .row>.col-xs-3 { width: 15%;    float: left; }
  .row>.col-xs-4 { width: 20%;    float: left; }
  .row>.col-xs-5 { width: 25%;    float: left; }
  .row>.col-xs-6 { width: 30%;    float: left; }
  .row>.col-xs-7 { width: 35%;    float: left; }
  .row>.col-xs-8 { width: 40%;    float: left; }
  .row>.col-xs-9 { width: 45%;    float: left; }
  .row>.col-xs-10{ width: 50%;    float: left; }
  .row>.col-xs-11{ width: 55%;    float: left; }
  .row>.col-xs-12{ width: 60%;    float: left; }
  .row>.col-xs-13{ width: 65%;    float: left; }
  .row>.col-xs-14{ width: 70%;    float: left; }
  .row>.col-xs-15{ width: 75%;    float: left; }
  .row>.col-xs-16{ width: 80%;    float: left; }
  .row>.col-xs-17{ width: 85%;    float: left; }
  .row>.col-xs-18{ width: 90%;    float: left; }
  .row>.col-xs-19{ width: 95%;    float: left; }
  .row>.col-xs-20{ width: 100%;   float: left; }
  /* Definición largo offsets */
  .row>.offset-xs-1 { margin-left: 5%;   float: left; }
  .row>.offset-xs-2 { margin-left: 10%;  float: left; }
  .row>.offset-xs-3 { margin-left: 15%;  float: left; }
  .row>.offset-xs-4 { margin-left: 20%;  float: left; }
  .row>.offset-xs-5 { margin-left: 25%;  float: left; }
  .row>.offset-xs-6 { margin-left: 30%;  float: left; }
  .row>.offset-xs-7 { margin-left: 35%;  float: left; }
  .row>.offset-xs-8 { margin-left: 40%;  float: left; }
  .row>.offset-xs-9 { margin-left: 45%;  float: left; }
  .row>.offset-xs-10{ margin-left: 50%;  float: left; }
  .row>.offset-xs-11{ margin-left: 55%;  float: left; }
  .row>.offset-xs-12{ margin-left: 60%;  float: left; }
  .row>.offset-xs-13{ margin-left: 65%;  float: left; }
  .row>.offset-xs-14{ margin-left: 70%;  float: left; }
  .row>.offset-xs-15{ margin-left: 75%;  float: left; }
  .row>.offset-xs-16{ margin-left: 80%;  float: left; }
  .row>.offset-xs-17{ margin-left: 85%;  float: left; }
  .row>.offset-xs-18{ margin-left: 90%;  float: left; }
  .row>.offset-xs-19{ margin-left: 95%;  float: left; }
  .row>.offset-xs-20{ margin-left: 100%; float: left; }
}
/* ------------------------------------------------------------------- */
/* Tamaño pequeño */
@media (min-width: 600px) and (max-width: 799px) {
  /* Definicion largo columnas */
  .row>.col-sm-0 { display: none; float: left; }
  .row>.col-sm-1 { width: 5%;     float: left; }
  .row>.col-sm-2 { width: 10%;    float: left; }
  .row>.col-sm-3 { width: 15%;    float: left; }
  .row>.col-sm-4 { width: 20%;    float: left; }
  .row>.col-sm-5 { width: 25%;    float: left; }
  .row>.col-sm-6 { width: 30%;    float: left; }
  .row>.col-sm-7 { width: 35%;    float: left; }
  .row>.col-sm-8 { width: 40%;    float: left; }
  .row>.col-sm-9 { width: 45%;    float: left; }
  .row>.col-sm-10{ width: 50%;    float: left; }
  .row>.col-sm-11{ width: 55%;    float: left; }
  .row>.col-sm-12{ width: 60%;    float: left; }
  .row>.col-sm-13{ width: 65%;    float: left; }
  .row>.col-sm-14{ width: 70%;    float: left; }
  .row>.col-sm-15{ width: 75%;    float: left; }
  .row>.col-sm-16{ width: 80%;    float: left; }
  .row>.col-sm-17{ width: 85%;    float: left; }
  .row>.col-sm-18{ width: 90%;    float: left; }
  .row>.col-sm-19{ width: 95%;    float: left; }
  .row>.col-sm-20{ width: 100%;   float: left; }
  /* Definición largo offsets */
  .row>.offset-sm-1 { margin-left: 5%;   float: left; }
  .row>.offset-sm-2 { margin-left: 10%;  float: left; }
  .row>.offset-sm-3 { margin-left: 15%;  float: left; }
  .row>.offset-sm-4 { margin-left: 20%;  float: left; }
  .row>.offset-sm-5 { margin-left: 25%;  float: left; }
  .row>.offset-sm-6 { margin-left: 30%;  float: left; }
  .row>.offset-sm-7 { margin-left: 35%;  float: left; }
  .row>.offset-sm-8 { margin-left: 40%;  float: left; }
  .row>.offset-sm-9 { margin-left: 45%;  float: left; }
  .row>.offset-sm-10{ margin-left: 50%;  float: left; }
  .row>.offset-sm-11{ margin-left: 55%;  float: left; }
  .row>.offset-sm-12{ margin-left: 60%;  float: left; }
  .row>.offset-sm-13{ margin-left: 65%;  float: left; }
  .row>.offset-sm-14{ margin-left: 70%;  float: left; }
  .row>.offset-sm-15{ margin-left: 75%;  float: left; }
  .row>.offset-sm-16{ margin-left: 80%;  float: left; }
  .row>.offset-sm-17{ margin-left: 85%;  float: left; }
  .row>.offset-sm-18{ margin-left: 90%;  float: left; }
  .row>.offset-sm-19{ margin-left: 95%;  float: left; }
  .row>.offset-sm-20{ margin-left: 100%; float: left; }
/* ------------------------------------------------------------------- */
/* Tamaño mediano */
@media (min-width: 800px) {
  /* Definicion largo columnas */
  .row>.col-md-0 { display: none; float: left; }
  .row>.col-md-1 { width: 5%;     float: left; }
  .row>.col-md-2 { width: 10%;    float: left; }
  .row>.col-md-3 { width: 15%;    float: left; }
  .row>.col-md-4 { width: 20%;    float: left; }
  .row>.col-md-5 { width: 25%;    float: left; }
  .row>.col-md-6 { width: 30%;    float: left; }
  .row>.col-md-7 { width: 35%;    float: left; }
  .row>.col-md-8 { width: 40%;    float: left; }
  .row>.col-md-9 { width: 45%;    float: left; }
  .row>.col-md-10{ width: 50%;    float: left; }
  .row>.col-md-11{ width: 55%;    float: left; }
  .row>.col-md-12{ width: 60%;    float: left; }
  .row>.col-md-13{ width: 65%;    float: left; }
  .row>.col-md-14{ width: 70%;    float: left; }
  .row>.col-md-15{ width: 75%;    float: left; }
  .row>.col-md-16{ width: 80%;    float: left; }
  .row>.col-md-17{ width: 85%;    float: left; }
  .row>.col-md-18{ width: 90%;    float: left; }
  .row>.col-md-19{ width: 95%;    float: left; }
  .row>.col-md-20{ width: 100%;   float: left; }
  /* Definición largo offsets */
  .row>.offset-md-1 { margin-left: 5%;   float: left; }
  .row>.offset-md-2 { margin-left: 10%;  float: left; }
  .row>.offset-md-3 { margin-left: 15%;  float: left; }
  .row>.offset-md-4 { margin-left: 20%;  float: left; }
  .row>.offset-md-5 { margin-left: 25%;  float: left; }
  .row>.offset-md-6 { margin-left: 30%;  float: left; }
  .row>.offset-md-7 { margin-left: 35%;  float: left; }
  .row>.offset-md-8 { margin-left: 40%;  float: left; }
  .row>.offset-md-9 { margin-left: 45%;  float: left; }
  .row>.offset-md-10{ margin-left: 50%;  float: left; }
  .row>.offset-md-11{ margin-left: 55%;  float: left; }
  .row>.offset-md-12{ margin-left: 60%;  float: left; }
  .row>.offset-md-13{ margin-left: 65%;  float: left; }
  .row>.offset-md-14{ margin-left: 70%;  float: left; }
  .row>.offset-md-15{ margin-left: 75%;  float: left; }
  .row>.offset-md-16{ margin-left: 80%;  float: left; }
  .row>.offset-md-17{ margin-left: 85%;  float: left; }
  .row>.offset-md-18{ margin-left: 90%;  float: left; }
  .row>.offset-md-19{ margin-left: 95%;  float: left; }
  .row>.offset-md-20{ margin-left: 100%; float: left; }
}
/* ------------------------------------------------------------------- */
